############################
# Maven / Java
############################
**/target/
**/*.log

############################
# Node / Angular
############################
**/node_modules/
**/dist/
**/.angular/
**/coverage/

############################
# IDEs
############################
.idea/
**/.idea/
*.iml
**/*.iml
*.ipr
*.iws
.vscode/
**/.vscode/
.settings/
**/.settings/
.project
**/.project
.classpath
**/.classpath
.factorypath
bin/
out/

#############################
# OS
############################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

############################
# Environment / Secrets
############################
**/.env
**/.env.local
**/application-local.yml
**/application-local.properties

############################
# Docker
############################
*.pid
